@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}

.App {
  transition: 0.3s all;
  height: 100vh;
}

.app-header {
  text-align: center;
}

.app-body {
  margin: 0rem 2rem 0rem 2rem;
}

.light {
  color: black;
  background-color: #fafafa;
}

.dark {
  color: #fafafa;
  background-color: #171717;
}
